body{
  background-color: #f3eada;
}

.App {
  text-align: center;
  background-color: #00896f;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bbox{
  text-align: center;
  border: 2px solid black;

}

.box{
  background-color: white;
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  /* display: block; */
}

.Slider{
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

.container{
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns:  repeat(11, 1fr);

  gap:10px;
}


.elem{
  background-color: #fefedf; 
  align-self: end;
  gap: 10px;
}

.elemCurr{
  background-color: red;
  align-self: end;
  gap: 10px;
}


#curr{
  background-color: red !important;
}

#toSwap{
  background-color: green;
}